<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicativoavaliacao01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listagem"></activity>
        <activity android:name=".FormularioEvento" />
        <activity android:name=".CadEvento" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Jogo_dificil" />
        <activity android:name=".TelaResultado" />
        <activity android:name=".Regras" />
        <activity android:name=".NumeroAleatorio" />
        <activity android:name=".inversor" />
    </application>

</manifest>